<div class="container">
    <div class="row">
        <div class="col-lg-6">

            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h5 class="m-0">Phones</h5>
                </div>
                <div class="card-body">
                    <h6 class="card-title">List of all phones</h6>
                    <p class="card-text">Edit of all phones</p>
                    <a asp-action="Index" asp-controller="Phones" asp-area="Admin" class="btn btn-primary">Phones</a>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="m-0">Categories</h5>
                </div>
                <div class="card-body">
                    <h6 class="card-title">List of all categories</h6>
                    <p class="card-text">Edit of all categories</p>
                    <a asp-action="Index" asp-controller="Categories" asp-area="Admin" class="btn btn-primary">Categories</a>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="m-0">Brands</h5>
                </div>
                <div class="card-body">
                    <h6 class="card-title">List of all brands</h6>
                    <p class="card-text">Edit of all brands</p>
                    <a asp-action="Index" asp-controller="Brands" asp-area="Admin" class="btn btn-primary">Brands</a>
                </div>
            </div>
            <a asp-action="Index" asp-controller="Home" asp-area="">Back to normal...</a>
        </div>

    </div>

</div>